<html>
    <title>Audio Proctor</title>
    <body>
        <center>
            <h1>Welcome to Audio Proctor</h1>
            <form action="/exam">
                <input name="rollno" type="text" placeholder="Enter your roll number">
                <br><br>
                <input name="name" type="text" placeholder="Enter your name">
                <br><br>
                <input name="time" type="text" placeholder="Enter the test time">
                <br><br>
                <button name="submit" type="submit" value="enter">Enter</button>
            </form>
        </center>
    </body>
</html>